.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

body {
  max-width: 680px;
  margin: 0 auto;
  padding: var(--ui-spacing-4);

  > header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: var(--ui-spacing-8);
    align-items: center;
    margin-bottom: var(--ui-spacing-4);
    padding-bottom: var(--ui-spacing-4);
    position: relative;
    z-index: 1;

    nav {
      display: flex;
      gap: var(--ui-spacing-2);

      a {
        text-decoration: none;
      }
    }

    > span {
      display: flex;
      align-items: center;
    }

    #link-home {
      color: inherit;
      text-decoration: none;
      display: flex;
    }

    #user {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }
}

@keyframes up-down {
  to {
    translate: 0px 100px;
  }
}

.idle-animation {
  width: 20px;
  height: 20px;
  background-color: brown;
  border-radius: 100px;
  position: fixed;
  left: 10px;
  top: 10px;

  animation: up-down 1s infinite var(--ease-elastic) alternate-reverse;
}

.idle-view-transition {
  width: 20px;
  height: 20px;
  background-color: green;
  border-radius: 100px;
  position: fixed;
  left: 10px;
  top: 140px;
}

.markers {
  position: fixed;
  left: 10px;
  top: 140px;

  &:before,
  &:after {
    content: "";
    height: 1px;
    width: 20px;
    position: absolute;
    left: 0;
    background: blue;
  }

  &:before {
    top: 0;
  }
  &:after {
    top: 120px;
  }
}

.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--ui-spacing-8);

  hgroup {
    text-align: center;
  }

  form {
    display: grid;
    gap: 1rem;
    width: 380px;
  }
}

#cart-count {
  position: absolute;
  top: 2px;
  right: 2px;
  background: var(--ui-primary);
  color: white;
  font-size: 10px;
  line-height: 1;
  min-width: 16px;
  height: 16px;
  border-radius: 999px;
  display: grid;
  place-items: center;
  padding-inline: 3px;
}

#cart-page {
  > ul {
    li {
      display: grid;
      grid-template-columns: 80px 1fr auto auto;
      align-items: center;
      gap: var(--ui-spacing-4);
      margin-bottom: var(--ui-spacing-4);

      img {
        width: 100%;
        image-rendering: pixelated;
      }
    }
  }
}

.button {
  transition-duration: 400ms;
}